@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
  }

  .scrollbar {
    scrollbar-color: #18181b;
  }

  ::-webkit-scrollbar-corner {
    background: #18181b;
  }
}

@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-thumb {
    background-color: #d6d6dd;
  }

  .scrollbar {
    scrollbar-color: #eeeef4;
  }

  ::-webkit-scrollbar-corner {
    background: #eeeef4;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

body {
  overflow: hidden;
}
