@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  position: absolute;
}

.scrollbar {
  scrollbar-color: #18181b;
  position: absolute;
}

::-webkit-scrollbar-corner {
  background: #18181b;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

body {
  overflow: hidden;
}
